<div class="container-filter">
  <div>
    <input type="text">
    <button><%= image_tag("search.svg", {:style => "width:15px;"}) %></button>
  </div>
  <button>
    <%= image_tag("filter.svg", {:style => "width:15px;"}) %>
    <p>FILTRES</p>
  </button>
</div>
