<div class="container-filter">
  <%= form_with url: ducks_path, method: :get, class: "search-bar" do %>
    <%= text_field_tag :query,
        params[:query],
        class: "input-search",
        placeholder: "Trouve ton canard..."
      %>
    <%= submit_tag "Rechercher", name: "", class: "button-search" %>
  <% end %>
  <button>
    <%= image_tag("filter.svg", {:style => "width:15px;"}) %>
    <p>Filtres</p>
  </button>
</div>
