<nav>
  <%= link_to 'duckbnb', ducks_path, :class => 'link-nav' %>
  <div>
    <%= link_to 'put my duck on duckbnb', ducks_path, :class => 'put' %>
    <p id= pseudo-name> Jean-Luc</p>
    <%= image_tag "img-profile.png", alt:"Photo de profil", class: "img-profile" %>
  </div>
</nav>
