<nav>
  <h1>duckbnb</h1>
  <div class= unflex>
    <p id= put>put my duck on duckbnb | </p>
    <p id= pseudo-name> Jean-Luc</p>
    <%= image_tag "img-profile.png", alt:"Photo de profil", class: "img-profile" %>
  </div>
</nav>
