.home-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction:column;
  margin-top: 1vw;

  .img-go {
    width: 70%;
    height: 20%;
    margin-top: 2em;
  }
  h1{
    @include prymary-gradient-background();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $headers-font;
    font-size: 3em;
    font-weight: 700;
    display: none;
  }
  .btn-go{
    font-family: $body-font;
    font-weight: 700;
    font-size: 1.5em;
    @include prymary-gradient-background;
    box-shadow: $btn-shadow;
    border-radius: 2em;
    padding: 1em 1em 1em 1em;
    width: 20em;
    right: 40%;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 700;
    margin-top: 4em;
    margin-bottom: 2em;


    &:hover{
      color: $primary-color;
      outline: 4px solid $primary-color;
      background: white;
      animation-duration: 1s;
    }
  }
  .cont-dev{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4em;
    width: 40%;
    .info-dev{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px;
      width: 30em;


      .img-developpeur{
        width: 8em;
        height: 8em;
        border-radius: 50%;
        border: solid 4px $primary-color;
      }

      p{
        padding-right: 20px;
        padding-left: 15px;
        font-size: 2em;
        font-family: $headers-font;
        color: $primary-color;
        margin-top: 8px;
        padding-top: 0em;
      }

    }
  }


}
