.show-grid-container{
  width: 80%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;

  .show-duck-box{
  @include white-rounded-box;
  margin-top: 3em;
  border-radius: 2em 0em 0em 2em;
  padding-left: 2em;
  padding-right: 2em;
  height: fit-content;
  position: relative;
    h1{
      margin: 0;
      @include h1();
    }
    p{
      @include text-content();
    }
    h4{
      @include h4();
    }
  }

  .price-item{
    background-color: $primary-color;
    padding: 0 0.8em 0 1em;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    height: 2em;
    border-radius: 1em;
    position: absolute;
    bottom: -1em;
    right: 0;
    border-radius: 2em 0em 0em 2em;
    @include h4($white-color);

    span{
      @include text-content-small($white-color);
    }
  }

  .show-img-box{
    position: relative;
  }

  .show-duck-picture{
    width: 100%;
    border-radius: 2em;
    object-fit: cover;
    position: relative;
    outline: solid 10px $primary-color;
    position: relative;
  }

  .show-user-box{
    position: absolute;
    bottom: -14em;
    display: flex;
    flex-direction: row;
    align-items: center;

    div{
      padding: 1em 3em 1em 4em;
      margin-left: -3em;
      background-color: #ffff;
      height: fit-content;
      border-radius: 0 2em 2em 0;

      h4{
        padding: 0;
        margin-top: 5px;
        margin-bottom: 0;
      }

      p{
        padding: 0;
        margin: 0;
      }
    }


    .img-profile-show {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 100%;
      z-index: 1;
      border: 0.25em solid $primary-color;
      cursor: pointer;
    }
  }

  .wishlist-icon{
    font-size: 2.5em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    color: white;
    filter: drop-shadow(0 0 0.5em $primary-color);
    cursor: pointer;
    &:hover{
      filter: drop-shadow(-1px 1px 16px #fff);
      color: $primary-color;
      animation: tada; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 1s; /* don't forget to set a duration! */
    }
  }

  .show-box-order{
    @include white-rounded-box;
    grid-column: span 2;
    margin-top: 4em;
    margin-bottom: 2em;

    h2 {
      @include h2();
      text-align: right;
      margin: 0 0.5em 0 0;
    }

    p {
      @include text-content();
    }

    .show-my-order-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 1em;
      padding: 0 1em;

      .calendar {
        object-fit: cover;
      }
    }
  }

  .recap-order{
    @include text-content();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 4em;
    position: relative;
    div{
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .total{
    @include text-content-bold;
  }

  .btn-order{
    @include link();
    @include prymary-gradient-background();
    box-shadow: $btn-shadow;
    position: absolute;
    border-radius: 2em;
    padding: 1em 1em 1em 1em;
    width: 30%;
    right: 33%;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2em;
    .txt{
      color: white;
    }

    &:hover{
      outline: 2px solid $tertiary-color;
      background: $white-color;
      animation: tada; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 1s; /* don't forget to set a duration! */
      .txt{
        @include prymary-gradient-background;
        @include font-gradient;
        color: $primary-color;
      }
    }

  }

  .show-box-review{
    @include white-rounded-box;
    grid-column: span 2;
    margin-top: 4em;
    h2{
      margin-top: 0;
      margin-bottom: 10px;
      @include h2();
    }
  }

  .grid-comment-template{


    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

    .grid-comment-templat-child{
      .com-box{
        display: flex;
        align-items: center;
        .img-developpeur{
          width: 4em;
          height: 4em;
          border-radius: 50%;
          margin-right: 8px;
          margin-top: -1.7em;
      }
        h4{
          margin: 6px;
        }
        p{
          margin: 0;
        }
      }
      .like{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fa-regular{
          margin-left: 16px;
        }
        p{
          margin-left: 70px;
          @include text-content-small();
        }
      }
    }
  }
}
