<div class="index-container">

  <div class="card-pub">
    <h3>Everybody</h3>
    <p class="bold"> needs a duck</p>
    <p class="bold">get yours now</p>
  </div>

  <% @ducks.each do |duck| %>
  <div class="duck-card">
    <img src="https://images.unsplash.com/photo-1559715541-5daf8a0296d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1372&q=80" alt="">
    <div>
      <%= duck.name %>
      <%= duck.category %>
      <p><%= duck.price %> € per night</p>
    </div>
  </div>

  <% end %>

</div>
