<div class="index-container">
  <div class="form-container">
    <div class="form-item">
      <%= render '/components/form', duck: @duck %>
    </div>
    <div class="form-item">
      <%= image_tag 'form-cover.png' %>
    </div>
  </div>
</div>
