.footer {
  width: 100%;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  bottom: 0;

  .container {
    width: 90%;
    margin: 0 auto;
  }

  p {
    @include text-content($primary-color);
  }

  .bold {
    @include text-content-bold($primary-color);
    margin-right: 1em;
  }
}


.footer-info {
  display: flex;
  justify-content: space-between;
}
