.footer {
  width: 100%;
  border-top: 1px solid $line-color;
  border-bottom: 1px solid $line-color;
  position: absolute;
  bottom: 0;

  .container {
    width: 90%;
    margin: 0 auto;
  }

  p {
    @include text-content($line-color);
  }

  .bold {
    @include text-content-bold($line-color)
  }
}


.footer-info {
  display: flex;
  justify-content: space-between;
}
