.form-container{
  outline: none;
  border: none;
}


input {
  border: none;
  border-bottom: 1px solid $line-color;
  background-color: $background-color;
  margin-left: 10px;
  width: 80%;
  background-color: white;
  border-radius: 1em;
  min-height: 2em;
}

textarea {
  border: none;
  background-color: white;
  border-radius: 1em;
  border-bottom: 1px solid $line-color;
  background-color: $white-color;
  margin-left: 10px;
  width: 80%;
}



.optional, .required {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  font-family: $body-font;
  margin-bottom: 1em;
}

.required {
  color: $eror-color;
}

.btn {
  padding: 10px 15px;
  border-radius: 3vh;
  color: $background-color;
  background-color: $primary-color;
  border: none;
  width: 30%;
  margin: 8px 35%;
}
