.form-container{
  outline: none;
  border: none;


  label{
    font-family: $headers-font;
    color: $text-color;
  }
  .text{
    min-height: 10em;
  }


}


input {
  border: none;
  border-bottom: 1px solid $line-color;
  background-color: $background-color;
  margin-left: 10px;
  width: 80%;
  background-color: white;
  border-radius: 1em;
  min-height: 2em;
}

textarea {
  border: none;
  background-color: white;
  border-radius: 1em;
  border-bottom: 1px solid $line-color;
  background-color: $white-color;
  margin-left: 10px;
  width: 80%;
}



.optional, .required {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  font-family: $body-font;
  margin-bottom: 1em;
}

.required {
  color: $eror-color;
}

.btn {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 3vh;
  color: $white-color;
  background-color: $primary-color;
  border: none;
  width: 13em;
  margin: 8px 35%;
  font-size: 1.4em;
  font-weight: 700;

  &:hover{
    background-color: white;
    color: $primary-color;
    animation: pulse;
    animation-duration: 1s;
  }
}
