nav {
  width: 98vw;
  height: 60px;
  padding-inline: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
	border-bottom: 1px solid #ccc;
}

h1 {
  background: -webkit-linear-gradient(45deg,rgba(255,80,60,1) 0%, rgba(244,44,255,1)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $headers-font;
  font-size: 3em;
}

#put{
  font-family: $body-font, sans-serif;
  font-size: 1em;
}

#pseudo-name{
  font-family: $body-font, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.unflex{
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 10px;
}

.img-profile{
  width: 8%;
  height: 8%;
  border-radius: 50%;
  border: solid 2.5px $primary-color;
}
