nav {
  width: 98vw;
  height: 60px;
  padding-inline: 1vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
	border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 10;


  .link-nav {
    @include prymary-gradient-background();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $headers-font;
    font-size: 3em;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 10px;

    .put{
      font-family: $body-font, sans-serif;
      text-decoration: none;
      color: $text-color;
      font-size: 1em;
    }

    #pseudo-name{
      font-family: $body-font, sans-serif;
      font-size: 1em;
      font-weight: bold;
    }

    .img-profile{
      width: 8%;
      height: 8%;
      border-radius: 50%;
      border: solid 2.5px $primary-color;
    }
  }
}
