nav {
  width: 98vw;
  height: 60px;
  padding-inline: 1vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
	border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 10;

  .nav-box{
    position: relative;
  }


  .link-nav {
    @include prymary-gradient-background();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $headers-font;
    font-size: 3em;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 0.5em;

    .add-my-duck{
      margin-right: 26px;
      i{
        @include prymary-gradient-background;
        @include font-gradient;
      }
    }

    .fa-circle-plus{
      margin-top: 3px;
    }

    .put{
      font-family: $body-font, sans-serif;
      text-decoration: none;
      color: $text-color;
      font-size: 1em;
      width: fit-content;
      text-align: right;

      // &::after{
      //   display: block;
      //   content: " ";
      //   width: 1px;
      //   height: 40px;
      //   background-color: $text-color;
      //   position: absolute;
      //   right: 189px;
      //   top: 6px;
      // }
    }

    .container-img-profile {
      width: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      gap: 8px;

      .pseudo-name{
        font-family: $body-font, sans-serif;
        font-size: 1em;
        font-weight: bold;
      }

      img {
        height: 2em;
        width: 2em;
        border-radius: 50%;
        border: solid 2.5px $primary-color;
        object-fit: cover;
      }
    }
  }
}
